@use '../mainStyle';
@use 'dogsCard';

@mixin button-style($bg: mainStyle.$primary-color, $color: #e7e7e7, $cursor: pointer) {
  font-size: 18px;
  color: $color;
  border: transparent;
  background-color: $bg;
  border-radius: 5px;
  padding: 2px 15px;
  &:hover {
    cursor: $cursor;
  }
}

#search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  #menu {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 15px;
    margin: 20px 0;
    width: 800px;

    @media (max-width: 600px) {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      justify-items: stretch;
      grid-gap: 15px;
      width: auto;

      button {
        height: 50px;
      }

      #input-breed {
        grid-area: 2 / 1 / 2 / 3;
        input {
          height: 50px;
          width: 100%;
          box-sizing: border-box;
        }
      }
      #random-btn {
        grid-area: 1 / 1 / 1 / 1;
      }
      #all-breed-btn {
        grid-area: 1 / 2 / 1 / 2;
      }
      #breed-btn {
        grid-area: 3 / 1 / 3 / 1;
      }
      #sub-breed-btn {
        grid-area: 3 / 2 / 3 / 2;
      }
    }

    button {
      @include button-style($bg: mainStyle.$primary-color, $color: #e7e7e7, $cursor: pointer);

      &:hover {
        background-color: rgba(38, 21, 21, 0.59);
      }

      &.disabled {
        @include button-style($bg: mainStyle.$primary-color, $color: #e7e7e7, $cursor: auto);
      }
    }
    input {
      height: 100%;
      @include button-style($bg: #dedbdb, $color: mainStyle.$primary-color, $cursor: pointer);
      padding: 0 10px;
    }
  }

  @include dogsCard.dogsCard($cardHeight: 500px, $imageContainerHeight: 400px);

  .dog-card {
    #save-button {
      position: relative;
      width: 70px;
      margin-top: 22px;
      height: 70px;
    }
    #save-button:before {
      position: absolute;
      top: 0;
      left: 35px;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
      width: 35px;
      height: 55px;
      border-radius: 40px 40px 0 0;
      background-color: #755549;
      content: "";
      cursor: pointer;
      transition: background .4s;
    }
    #save-button:after {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(45deg);
      transform-origin :100% 100%;
      width: 35px;
      height: 55px;
      border-radius: 40px 40px 0 0;
      background-color: #755549;
      content: "";
      cursor: pointer;
      transition: background .4s;
    }
    #save-button.liked::before,
    #save-button.liked::after {
      background-color: #d93737;
    }
    #save-button.liked {
      animation: liked .4s ease;
    }
    @keyframes liked {
      0% {
        transform: scale(.8);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(.9);
      }
    }
  }
}