@mixin dogsCard($cardHeight: 500px, $imageContainerHeight: 400px) {
  .dog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: $cardHeight;
    width: fit-content;
    background-color: rgba(38, 21, 21, 0.15);
    box-shadow: 0 0 5px rgb(100, 100, 100);
    border-radius: 5px;

    @media (max-width: 600px) {
      width: 100%;
      height: auto;
    }

    &.loading {
      opacity: 0.25;
      transition: opacity 3s;
      transition-delay: 200ms;
    }

    .dog-image {
      height: $imageContainerHeight;

      @media (max-width: 600px) {
        height: auto;
        max-height: 400px;
        overflow: hidden;
      }

      img {
        height: 100%;
        width: auto;

        @media (max-width: 600px) {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}

