@use 'login-button';
@use 'mainStyle';

.not-auth-message {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    @include mainStyle.text($font-size: 30px, $font-color: mainStyle.$primary-color, $weight: bold);
    margin: 0;
  }
}

