@use 'loginButton';
@use 'mainStyle';

.not-auth-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    @include mainStyle.text($font-size: 30px, $font-color: mainStyle.$primary-color, $weight: bold);
    margin: 0;
  }
}

#unknown {
  white-space: pre-wrap;
  text-align: center;
}

