@use 'mainStyle';

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-section {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 120px 20px 30px 20px;
  height: fit-content;

  @include mainStyle.text($font-size: 30px, $font-color: mainStyle.$primary-color, $weight: bold);

  @media (max-width: 600px) {
    margin-top: 45px;
  }
}


nav {
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: end;
  background-image: url("images/background-nav.png");
  background-size: 45%;
  transition: height 300ms;

  @media (max-width: 600px) {
    height: fit-content;
    background-size: 70%;
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    @media (max-width: 600px) {
      display: none;
    }
  }

  .small-navbar {
    display: none;

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;

      #pages {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
      }
    }
  }

  &.small-nav {
    height: 55px;

    @media (max-width: 600px) {
      height: 45px;
    }
  }
  a, .log-out-button {
    @include mainStyle.text($font-size: 30px, $font-color: mainStyle.$primary-color, $weight: bold);
    text-decoration: none;
    margin-right: 15px;
    padding: 2px;

    @media (max-width: 600px) {
      margin: 5px 0;
      padding: 2px 70px;
    }

    &:hover {
      cursor: pointer;
      background: rgba(51, 26, 26, 0.09);
    }
  }
}

.burger-btn {
  width: 25px;
  height: 25px;
  position: relative;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: flex-end;
  display: none;

  @media (max-width: 600px) {
    display: flex;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 25px;
    height: 3px;
    background-color: mainStyle.$primary-color;
  }

  span {
    position: absolute;
    top: 11px;
    width: 25px;
    height: 3px;
    background-color: mainStyle.$primary-color;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 25px;
    height: 3px;
    background-color: mainStyle.$primary-color;
  }
}