$primary-color: #006400FF;
@mixin text($font-size: 20px, $font-color: white) {
  font-family: Calibri, serif;
  font-size: $font-size;
  color: $font-color;
}

*{margin: 0; padding: 0}


nav {
  height: 40px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  background: $primary-color;
  a {
    @include text($font-size: 30px, $font-color: white);
    text-decoration: none;
    margin-right: 15px;
    padding: 2px;
  }
  a:hover {
    background: white;
    color: darkgreen;
  }
}